.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* design.css*/

.backgroundcontainer {
  background-image: url("./img/backimg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
}

.logodiv{
  display: flex;
  gap: 25rem;
  justify-content: space-around;
}

.logo {
  margin-top: 0.5rem;
  width: 100px;
  height: 40px;
}

.propadi {
  position: absolute;
  margin-right: -52rem;
  margin-top: -1.8rem;
  font-size: 50px;
}

.epe {
  display: flex;
  gap: 25rem;
  justify-content: space-around;
}

.assistant {
  margin-left: 13.5rem;
  font-size: 13px;
  margin-top: 1.1rem;
}

.mojoda {
  margin-left: 4rem;
  margin-top: 1rem;
  font-size: 20px;
  color: red;
}

.gardensdiv {
  display: flex;
  gap: 28rem;
  justify-content: space-around;
}

.garden {
  position: absolute;
  margin-top: -2rem;
  margin-right: 54rem;
  font-size: 50px;
}

.site {
  color: #fff;
  margin-top: -1rem;
  margin-left: 10rem;
}

.wednesday {
  color: #fff;
  margin-left: -26.8rem;
  margin-top: 0.5rem;
}

.sabo {
  color: #fff;
  margin-top: 7rem;
  margin-left: -25.5rem;
}

.yaba {
  color: #fff;
  margin-top: 8rem;
  margin-right: 3rem;
}

.landmark {
  color: #fff;
  margin-left: 40rem;
  margin-top: -0.5rem;
}

.shape1div {
  display: flex;
  position: absolute;
  margin-top: 28rem;
  width: 100%;
}

.shape1img {
  width: 100%;
  height: 1400px;
}

.redcirclediv {
  display: flex;
  position: absolute;
  margin-top: 40rem;
  margin-left: 29rem;
  z-index: 1;
}

.redcircleimg {
  height: 300px;
  margin-top: 2rem;
}

.greenrecdiv {
  position: absolute;
  margin-top: 64rem;
  z-index: 1;
  margin-left: 39rem;
}

.greenrecimg {
  width: 50%;
  z-index: 1;
}

.linediv {
  position: absolute;
  margin-top: 83rem;
  width: 20px;
}

.lineimg {
  margin-left: 2rem;
}

.square1div {
  position: absolute;
  margin-top: 86rem;
  margin-left: 43rem;
  display: flex;
}

.square1img {
  height: 300%;
}

.square2div {
  position: absolute;
  margin-top: 93rem;
  margin-left: 2rem;
}

.square2img {
  width: 55%;
}

.locdiv {
  position: absolute;
  margin-left: -40rem;
  margin-top: 14rem;
}

.locimg {
  width: 35px;
}

.cyldiv {
  position: absolute;
  margin-left: 8rem;
  margin-top: 55rem;
  z-index: 1;
}

.cylimg {
  width: 100%;
  height: 400px;
}

.circle {
  position: absolute;
  height: 300px;
  border-radius: 300px;
  width: 23%;
  margin-top: 42rem;
  margin-left: 29rem;
  background: #fff;
  z-index: 1;
}

.blackdiv {
  position: absolute;
  height: 70px;
  width: 180px;
  background: black;
  margin-left: 27rem;
  margin-top: 12rem;
  border-radius: 15px;
  opacity: 0.5;
}

.tf {
  position: absolute;
  margin-left: 6rem;
  margin-top: 6rem;
  color: #fff;
}

.title {
  margin-left: 6rem;
}

.free {
  font-size: 40px;
  margin-top: -1rem;
  margin-left: 1rem;
}

.six {
  position: absolute;
  color: #fff;
  margin-left: 11rem;
  margin-top: 3rem;
  font-size: 25px;
}

.sixx {
  position: absolute;
  color: #fff;
  margin-left: 1rem;
  margin-top: 3rem;
  font-size: 230px;
}

.initial {
  position: absolute;
  color: #fff;
  margin-left: 2rem;
  font-size: 25px;
}

.deposit {
  margin-top: -1rem;
  margin-top: -0.2rem;
}

.init {
  font-size: 20px;
  margin-right: 13rem;
}

.blkdetails {
  position: absolute;
  color: #fff;
}

.price2 {
  position: absolute;
  color: #fff;
  font-size: 30px;
  margin-top: 12rem;
  margin-left: 3rem;
}

.list {
  position: absolute;
  color: #fff;
  text-align: left;
  font-size: 40px;
  margin-left: 15rem;
  margin-top: 26rem;
}

.feature {
  color: black;
  position: absolute;
  font-size: 50px;
  font-weight: bolder;
  margin-top: 25rem;
  margin-left: -3.3rem;
  z-index: 1;
  transform: rotate(270deg)
}

.womandiv {
  position: absolute;
  margin-left: 5rem;
  margin-top: 24rem;
}

.womanimg {
  width: 1230px;
}